.layout {
    min-height: 80vh;
  }

.logo {
  width: 120px;
  height: 31px;
  /* background: rgba(255, 255, 255, 0.2); */
  background-image: url(../secret-02.png);
  margin: 16px 24px 16px 0;
  float: left;
}

nz-header {
  /* position: fixed; */
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 34px;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 480px;
  height: 100%;
}

nz-footer {
  text-align: center;
}