<button nz-button  (click)="addModal()" nzSize="large">
  <i nz-icon nzType="user-add" nzTheme="outline"></i>
  <span>Add Student</span>
</button>
<br />

<nz-modal [(nzVisible)]="addIsVisible" nzTitle="Add New Student" (nzOnCancel)="handleCancel()">
<form nz-form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">

  <div>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="text">First Name</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="fname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="email">Last Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="lname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>Sex</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Please select your gender!">
        <nz-select
          formControlName="sex"
          nzPlaceHolder="Select your gender"
        >
          <nz-option nzValue="M" nzLabel="Male"></nz-option>
          <nz-option nzValue="F" nzLabel="Female"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>Grup</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Please select the grup" >
        <nz-select
          formControlName="idGr"
          nzPlaceHolder="Select a grup"
        >
          <nz-option 
            *ngFor="let data of grupList" 
            nzValue="{{ data.grupId }}" 
            nzLabel="{{ data.grupName }}">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  </div>
  <div *nzModalFooter>
    <!-- <span>Modal Footer: </span> -->
    <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" type="submit" (click)="addHandleOk()" >OK</button>
  </div>
</form>

</nz-modal>

<!-- ======================================================================================= -->

<nz-table #basicTable [nzData]="studentList"  nzHideOnSinglePage>
    <thead >
      <tr nzAlign="center">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Sex</th>
        <th>Grupa</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let grup of grupList">
        <td>{{ data.id }}</td>
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.sex }}</td>
        <td>{{ data.grupId.grupName }}</td>
        <td nzAlign="center">
          <button nz-button (click)="showModal(data.id)" nzShape="round" nzSize="large">
            <i nz-icon nzType="edit" nzTheme="fill"></i>
          </button>
          <button nz-button (click)="showDeleteConfirm(data.id)" nzShape="round" nzSize="large">
            <i nz-icon nzType="delete" nzTheme="fill" ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

<!-- ============================================================================================================= -->

<nz-modal [(nzVisible)]="isVisible" nzTitle="Update" (nzOnCancel)="handleCancel()" *ngFor="let data of student">
  <form nz-form [formGroup] = "angForm" (ngSubmit)="submitForm()" >
    <div >
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="email">ID</nz-form-label>
        <nz-form-control [nzSpan]="14"  >
            <input disabled="true" formControlName="id" ngModel="{{ data.id }}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="text">First Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input  formControlName="fname" ngModel="{{ data.firstName }}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
            <nz-form-label [nzSpan]="8" nzFor="email">Last Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input formControlName="lname" ngModel="{{ data.lastName }}">
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Sex</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Please select your gender!">
          <nz-select
            formControlName="sex"
            nzPlaceHolder="Select your gender"
            ngModel="{{ data.sex }}"
          >
            <nz-option nzValue="M" nzLabel="M"></nz-option>
            <nz-option nzValue="F" nzLabel="F"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" >Grup</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip="Please select the grup">
          <nz-select
            formControlName="idGr"
            ngModel='{{ data.grupId.grupId }}'
          >
            <nz-option 
              *ngFor="let data of grupList" 
              nzValue="{{ data.grupId }}" 
              nzLabel="{{ data.grupName }}">
            </nz-option>
            <nz-option nzValue="{{ data.grupId.grupId }}" nzLabel="{{ data.grupId.grupName }}" nzHide ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div *nzModalFooter>
      <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" type="submit" (click)="handleOk()" >OK</button>
    </div>
  </form>
</nz-modal>
