<!-- <a (click)="login()" class="menu">Admin</a>
<nz-divider nzType="vertical"></nz-divider>
<a (click)="reloadList()" class="menu"> Refresh </a>
<nz-divider nzType="vertical"></nz-divider>
<a (click)="logout()" class="menu">Logout</a>
<nz-divider nzType="vertical"></nz-divider>
<a *ngIf="isAdministrator" href="results" class="menu">Resultate</a>
<nz-divider *ngIf="isAdministrator"  nzType="vertical"></nz-divider>
<a class="menu" style="margin-left: 8px; color: red;">Salut, {{ nameOfSanta }} </a> -->

<!-- <a *ngIf="!isAded" (click)="addModal()" class="menu"> Participă </a> -->
<!-- Table -->
<!-- <div class="vertical-center horisontal-center" *ngIf="isVisibleButton"> -->
<!-- <h1>Pentru a participa apasă butonul dat și scrie numele tău</h1> -->
<!-- <h1>Conectează-te</h1>
<div class="horisontal">
  <button nz-button nzShape="round" (click)="addModal()"
          nzSize="large" class="dynamic-delete-button">
    Participă
  </button>
</div>
</div> -->

<div class="table">
  <h1>Lista participanților</h1>
  <nz-table #basicTable
    [nzData]="participantsList" 
    nzHideOnSinglePage
    nzLoadingDelay="500"
    >
    <thead nzAlign="center" >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Select</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data" nzShowRowSelection="true">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td
            [nzChecked]="data.selected"
            nzDisabled="false"
            nzAlign="left"
          ></td>
        <td *ngIf='isAdministrator'>
          <a (click)="edit(data)" >Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(data.id)">Delete</a>
        </td>
        <td *ngIf='!isAdministrator'>
          <a (click)="edit(data)">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

<br/>
  <button class="button" nz-button nzType="primary" nzSize="large"  [disabled]="isDisabled"
        nzShape="round" (click)="generate()" [nzLoading]="isLoadingOne" id="btn">
        Secret Santa
  </button>

</div>


  <!-- ==================================MODAL=============================================== -->

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Editează-ți numele" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">
    
      <div>
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >Numele</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Introdu numele tău">
            <input formControlName="name" />
          </nz-form-control><a href=""></a>
        </nz-form-item>
        <nz-form-item *ngIf="false">
          <nz-form-label [nzSpan]="8" >Parola</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Introduceti parola">
            <input [type]="password" formControlName="password" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *nzModalFooter>
        <!-- <span>Modal Footer: </span> -->
        <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" type="submit" (click)="addHandleOk()" >OK</button>
      </div>
    </form>
    
    </nz-modal>

<!-- ============================================================================================== -->

  <nz-modal [(nzVisible)]="isVisibleModal" nzTitle="Introdu Parola" (nzOnCancel)="handleCancel()">
    <form nz-form [formGroup] = "angForm" >    
      <div>
        <nz-form-item>
          <nz-form-label [nzSpan]="10" >Parola Administratorului</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Introduceti parola">
            <input [type]="password" formControlName="password" />
          </nz-form-control>
        </nz-form-item>
   
      </div>
      <div *nzModalFooter>
        <!-- <span>Modal Footer: </span> -->
        <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" type="submit" (click)="verificaParola()" >OK</button>
      </div>
    </form>
    
    </nz-modal>

<!-- ============================================================================================== -->
