
.vertical-center {
  margin: 0;
  position: absolute;
  top: 37%;
  -ms-transform: translateY(-37%);
  transform: translateY(-37%);

}

.table {
  margin-left: 15%;
  width: 75%;
}

.button{
  margin-left: 23%;
  width: 50%;
}

h1{
  text-align: center;
}

.menu{
  font-size: 16px;
  margin: 8px;
  margin-top: 10px;
  text-align: center;
}

menu:checked{
  color: red;
}

@media only screen and (max-width: 600px) {
  .table {
    width: 100%;
    margin-left: 0%;
  }
  #btn {
    width: 60%;
  }
}