<button nz-button  (click)="addModal()"nzSize="large">
  <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
  <span>Add Grup</span>
</button>
<br />


<nz-modal [(nzVisible)]="addIsVisible" nzTitle="Add new Grup" (nzOnCancel)="handleCancel()">
<form nz-form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">

  <div>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" >Grup Name</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your name">
        <input formControlName="gName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="10">Mentor Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input formControlName="mName" />
      </nz-form-control>
    </nz-form-item>

  </div>
  <div *nzModalFooter>
    <!-- <span>Modal Footer: </span> -->
    <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" type="submit" (click)="addHandleOk()" >OK</button>
  </div>
</form>

</nz-modal>
<!-- =========================================================================================== -->

<nz-table #basicTable [nzData]="grupList" nzHideOnSinglePage>
    <thead nzAlign="center" >
      <tr>
        <th>ID</th>
        <th>Grup Name</th>
        <th>Mentor Name</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.grupId }}</td>
        <td>{{ data.grupName }}</td>
        <td>{{ data.grupMentor }}</td>
        <td>
          <button nz-button  (click)="showModal1(data.grupId)" nzShape="round" nzSize="large">
            <i nz-icon nzType="edit" nzTheme="fill"></i>
          </button>
          <button nz-button  (click)="showDeleteConfirm(data.grupId)" nzShape="round" nzSize="large">
            <i nz-icon nzType="delete" nzTheme="fill" ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

<!-- ============================================================================================================= -->

<nz-modal [(nzVisible)]="iisVisible" nzTitle="Update" (nzOnCancel)="handleCancel()" *ngFor="let data of grup">
  <form [formGroup] = "angForm" (ngSubmit)="submitForm()" >
    <div>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="email">ID</nz-form-label>
        <nz-form-control [nzSpan]="14"  >
            <input disabled="true" formControlName="idGr" ngModel="{{ data.grupId }}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="text">Grup Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input  formControlName="gName" ngModel="{{ data.grupName }}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
            <nz-form-label [nzSpan]="8" nzFor="email">Mentor Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input formControlName="mName" ngModel="{{ data.grupMentor }}">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" type="submit" (click)="handleOk()" >OK</button>
    </div>
  </form>
</nz-modal>